<aside class="sidebar cubes-list">
  <div class="list-toolbar">
    <h4><pre>{{cubesList.length}}</pre> <span> cubes</span></h4> 
  </div>
  <div class="list-contnet">
    <ul class="items-list">
      <li class="cube-item" ng-click="initHighlightCube(it.cubeid)" ng-repeat="it in filteredCubes">
        <div class="cubeid-holder">{{it.cubeid}}</div>
      </li>
    </ul>
  </div>
</aside>
<section id="main" >
  <div  class="cubes-container">
    <div class="grid-div" ng-repeat="it in filteredCubes">
      <div class="cube-wrapper {{it.cubeid}}" ng-click="initHighlightCube(it.cubeid)">
          <div class="cube-holder">
            <div class="cube">
              <div class="face one"></div>
              <div class="face two"><h5>{{it.cubeid}}</h5></div>
              <div class="face three"></div>
              <div class="face four"></div>
              <div class="face five"></div>
              <div class="face six"></div>
            </div>
          </div>
      </div>
    </div>
    <div class="grid-div"></div>
    <div class="grid-div"></div>
    <div class="grid-div"></div>
    <div class="grid-div"></div>
    <div class="grid-div"></div>
  </div>
</section>
<aside class="sidebar cubes-toolbar">
  <div class="forms-block">
    <h4>Edit Cube</h4>
    <form novalidate class="edit-cube-form">
      <div>
        <input class="cubeid" type="text" placeholder="Cube ID" />
      </div>
      <div>
        <input class="cubewidth" type="text" placeholder="Cube Width" />
      </div>
      <div>
        <input class="cubeheight" type="text" placeholder="Cube Height" />
      </div>
      <div>
        <input class="cubecolor" type="text" placeholder="Cube Color" />
      </div>
      <div>
        <input class="cubeborder" type="text" placeholder="Cube Borders Color" />
      </div>
      <div class="form-footer">
        <button class="edit-cube-button" ng-click="editExistingCube()">Edit cube</button>
      </div>
    </form>

    <h4>Add Cube</h4>
    <form novalidate class="add-cube-form" ng-submit="styleNewCube()">
      <div>
        <input id="cubeid" class="cubeid" type="text" placeholder="Cube ID" />
      </div>
      <div>
        <input id="cubewidth" class="cubewidth" type="text" placeholder="Cube Width" />
      </div>
      <div>
        <input id="cubeheight" class="cubeheight" type="text" placeholder="Cube Height" />
      </div>
      <div>
        <input id="cubecolor" class="cubecolor" type="text" placeholder="Cube Color" />
      </div>
      <div>
        <input id="cubeborder" class="cubeborder" type="text" placeholder="Cube Borders Color" />
      </div>
      <div class="form-footer">
        <button class="add-cube-button" ng-click="addCube()">Add cube</button>
      </div>
    </form>

    <h4>Remove Cube</h4>
    <form novalidate class="remove-cube-form">
      <div>
        <input class="cubeid" type="text" placeholder="Cube ID" ng-model="cl.cubeid" />
      </div>
      <div class="form-footer">
        <button class="remove-cube-button" ng-click="removeCube()">Remove Cube</button>
      </div>
    </form>
  </div>
</aside>


  
  
  
